.background{
    background: url('https://cdn3.greatfon.com/crop/uploads/picture/546/140/140546/picture-140546.jpg?width=5120&height=3087') no-repeat;
    background-size: 100vw 100vh;
    position: fixed;
    width: 100vw;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
    filter: blur(5px);
}
body{
    color: #FFFFFF;
    position: absolute;
    left: 30px;
    font-family: sans-serif;
}
#addMore{
    background: aliceblue;
    border: none;
    text-align: center;

}